<template>
  <q-page class="flex flex-center page-about">
    <q-list>
      <q-item class="page-about__item--header">
        <q-item-section>
          <q-item-label header class="text-h4 text-weight-light">
            {{ pkgInfo.productName }}
            <q-chip size="sm">v{{ pkgInfo.version }}</q-chip>
          </q-item-label>
          <q-item-label caption lines="2">{{ pkgInfo.description }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-for="name in names" :key="name">
        <q-item-section>
          <q-item-label class="text-overline text-uppercase">{{ name }}</q-item-label>
          <q-item-label caption lines="2">{{ pkgInfo[name].toString() }}</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import pkgInfo from '../../package.json'

export default defineComponent({
  name: 'PageIndex',

  components: {},

  setup() {
    return {
      names: [ 'name', 'author', 'keywords', 'homepage', 'license' ],
      pkgInfo
    }
  }
})
</script>

<style lang="scss">
.page-about {
  .q-list {
    .q-item {
      &.page-about__item--header {
        margin-bottom: 30px;
      }

      .q-item__label--header {
        &.text-h4 {
          padding: 0;
        }
      }

      .q-chip {
        margin-bottom: 0;
      }
    }
  }
}
</style>
