<template>
  <q-page class="page-login row justify-center items-center">
    <q-form @submit="onSubmit" class="q-gutter-md">
      <logo><span class="text-h5 text-center text-weight-light">{{ title }}</span></logo>

      <div class="form-body">
        <q-input square filled clearable :rules="rules" :disabled="loading" v-model="email" type="email" label="Email"/>
        <q-input square filled clearable :rules="rules" :disabled="loading" v-model="password" type="password" label="Password"/>
      </div>

      <div class="form-action">
        <q-btn :disabled="loading" label="Login" type="submit" color="primary" class="q-ml-sm"/>
      </div>
    </q-form>

    <q-inner-loading :showing="loading" label="Login..."/>
  </q-page>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { mapActions } from 'vuex'
import { Notify } from 'quasar'
import Logo from '../components/Logo.vue'
import pkgInfo from '../../package.json'

export default defineComponent({
  name: 'PageAuth',

  components: {
    Logo
  },

  setup() {
    return {
      title: pkgInfo.productName,
      email: ref(''),
      password: ref(''),
      loading: ref(false),
      rules: [ v => !!v || 'Field is required' ]
    }
  },

  methods: {
    ...mapActions('auth', [ 'login' ]),

    onSubmit() {
      const params = { email: this.email, password: this.password }
      this.loading = true

      this.login(params).then(response => {
        this.loading = false

        if (response) {
          this.$router.push('/')
        } else {
          Notify.create({ message: 'Login is not success', color: 'negative', position: 'top' })
        }
      }).catch(error => {
        this.loading = false
        Notify.create({ message: error.message, color: 'negative', position: 'top' })
      })
    }
  }
})
</script>

<style lang="scss">
.page-login {
  .logo {
    margin: 10px 5px;

    img {
      transition: transform .8s ease-in-out;
    }

    &:hover {
      img {
        transform: rotate(-1turn);
      }
    }
  }

  .q-form {
    max-width: 300px;
    width: 100%;
    margin-top: -100px;

    .logo {
      margin: 10px;
    }

    .form-body {
      margin: 0;
    }

    .form-action {
      margin-left: 0;

      .q-btn {
        margin: 0;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
  }
}

</style>
