<template>
  <q-page class="flex flex-center page-index">
    <q-inner-loading :showing="isLoading" label="Loading links..."/>

    <q-list v-if="!isLoading" class="page-index__link-list">
      <q-item-label header class="text-h5 text-weight-light">Links</q-item-label>

      <q-item v-if="links.length<1">
        <q-item-section>
          <q-item-label>No links available.</q-item-label>
        </q-item-section>
      </q-item>

      <q-item v-for="link in links" :key="link.title">
        <q-item-section>
          <q-item-label class="text-overline text-h4">{{ link.title }}</q-item-label>
          <q-item-label caption lines="2">{{ link.caption }}</q-item-label>

          <q-item-label lines="1" class="text-weight-bold text-primary text-overline text-uppercase">
            <span class="cursor-pointer" @click="onLinkClick(link)">Open in new tab</span>
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { openURL } from 'quasar'
import { mapActions, mapState, mapGetters } from 'vuex'

export default defineComponent({
  name: 'PageIndex',

  computed: {
    ...mapState('links', [ 'links', 'isLoading' ]),
    ...mapGetters('auth', [ 'isAuthenticated' ])
  },

  watch: {
    isAuthenticated: {
      immediate: true,
      handler(value) {
        if (!value) {
          this.clearLinks()
        }
      }
    }
  },

  created() {
    if (this.links.length < 1) {
      this.fetchLinks()
    }
  },

  methods: {
    ...mapActions('links', [ 'fetchLinks', 'clearLinks' ]),

    onLinkClick(link) {
      openURL(link.url)
    }
  }
})
</script>

<style lang="scss">
.page-index {
  .page-index__link-list {
    max-width: 300px;
  }
}
</style>
