<template>
  <div class="logo">
    <q-avatar class="q-mr-sm">
      <q-img height="100%" :src="img"/>
    </q-avatar>

    <slot></slot>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Logo',

  props: {
    img: {
      type: String,
      default: 'icons/favicon-32x32.png'
    }
  },
  computed: {}
})
</script>
