<template>
  <router-view/>
</template>
<script>
import { defineComponent } from 'vue'
import AuthService from './services/auth'

export default defineComponent({
  name: 'App',
  mounted() {
    AuthService.init(this.$store)
  }
})
</script>
