<template>
  <q-layout view="lHh Lpr fff" class="main-layout">
    <q-page-container class="page-container full-height">
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'AuthLayout'
})
</script>
