<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <logo>
            <span>{{ title }}</span>
          </logo>
        </q-toolbar-title>

        <q-btn flat to="/">Links</q-btn>
        <q-btn flat to="/about">About</q-btn>
        <q-btn flat @click="onLogoutClick">Logout</q-btn>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
import { defineComponent } from 'vue'
import { mapActions } from 'vuex'
import Logo from '../components/Logo.vue'
import pkgInfo from '../../package.json'

export default defineComponent({
  name: 'MainLayout',

  components: {
    Logo
  },

  setup() {
    return {
      title: pkgInfo.productName
    }
  },

  methods: {
    ...mapActions('auth', [ 'logout' ]),

    onLogoutClick() {
      this.logout().then(() => this.$router.push('/auth/login'))
    }
  }
})
</script>

<style scoped lang="scss">
.q-header {
  .q-toolbar {
    .q-btn {
      padding-right: 5px;
      padding-left: 5px;
    }

    .q-toolbar__title{
      font-size: 1.3em;
    }
  }
}
</style>
